#### [1]
홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

※ 문자열 슬라이싱 기법을 사용해 보자.

In [ ]:
a = '881120-1068234'
print(a[:6])
print(a[7:])
print(a.split('-'))

In [15]:
path = "C:/workspace/project/examples/file.txt"
words = path.split('.')[0].split('/')
print(words)
print(words[-1])

import os
print(os.path.basename(path).split('.')[0])

['C:', 'workspace', 'project', 'examples', 'file']
file
file

#### [2]
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

```python
a = "a:b:c:d"
```

In [18]:
a = "a:b:c:d"
a.replace(":", "#", 1)

'a#b:c:d'

#### [3]
[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

※ 리스트의 내장 함수를 사용해 보자.

In [21]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

#### [4]
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.

In [27]:
a = ['Life', 'is', 'too', 'short']
print(' '.join(a))

Life is too short

#### [5]
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

```python
a = {'A':90, 'B':80, 'C':70}
```
※ 딕셔너리의 pop 함수를 사용해 보자.

In [28]:
a = {'A':90, 'B':80, 'C':70}
y = a.pop("B")
print(y)

80

#### [6]
a 리스트에서 중복 숫자를 제거해 보자.

```python
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
```
※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.

In [29]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
new_list = []
for i in range(len(a)):
    if not a[i] in new_list:
        new_list.append(a[i])
print(new_list)

[1, 2, 3, 4, 5]

In [32]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set_a = set(a)
print(list(set_a))

[1, 2, 3, 4, 5]

#### [7]
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

```python
a = b = [1, 2, 3]
a[1] = 4
print(b)
```

In [34]:
a = b = [1, 2, 3]
a[1] = 4
print(b)
print(id(a), id(b))

[1, 4, 3]
4438725632 4438725632

In [35]:
a = [1,2,3]
b = a.copy()
a[1] = 4
print(b) # [1,2,3]
print(id(a), id(b))

[1, 2, 3]
4534912256 4438492288

#### [8]
내장함수 id()를 사용하여 아래 두 가지 예제의 결과가 갖는 차이점을 설명하시오.
```python
a = [1, 2, 3]
a = a + [4, 5]
```
***
```python
a = [1, 2, 3]
a.extend([4, 5])
```

In [40]:
a = [1, 2, 3]
print(id(a))
a = a + [4, 5]
print(id(a))

4534832960
4534726784

In [39]:
a = [1, 2, 3]
print(id(a))
a.extend([4, 5])
print(a)
print(id(a))

4534726784
[1, 2, 3, 4, 5]
4534726784

Python"s favorite food is perl